* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* reusable style */
.px {
    padding: 0 30px;
}

.pr {
    padding-right: 15px;
}
.pl {
    padding-left: 15px;
}

.mx {
    margin: 0 30px;
}
.mr {
    margin-right: 15px;
}
.ml {
    margin-left: 15px;
}
.section-space {
    padding: 60px 0;
}

.section-width {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.h-width {
    width: 50%;
}

img {
    width: 100%;
    height: auto;
}

/* Bannner Area Start */
.banner-area {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(../images/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}
.content-area {
    width: 768PX;
    text-align: center;
    margin: 0 auto;
}
.content-area p {
    text-align: center;
}
.content-area h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 10px;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #121212;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 15px;
    line-height: 35px;
}
p {
    font-size: 16px;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 400;
}
.btn {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding: 16px 20.5px;
    background: #FF5959;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    border: 1px solid transparent;
}
.btn:hover {
    color: #FF5959;
    background: #FFEEEE;
    border-color: #FF5959;
}
.scroll-btn {
    margin-top: 35px;
}
.scroll-btn a {
    font-size: 16px;
    color: #424242;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-bottom: 25px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.scroll-btn a:hover {
    color: #FFAD5A;
}

.banner-title {
    border-left: 3px solid;
    border-color: #FFAD5A;
    padding-left: 10px;
}
.content-area .banner-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/* Donation area start */
.donation-area > .section-width {
    justify-content: center;
}
.donation-amount {
    width: 136px;
    height: 124px;
    border-radius: 5px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    margin-right: 22px;
}
.donation-amount:hover {
    background: rgba(255, 238, 238, 1);
    border-color: #FF5959;
}
.donation-amount p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}

.donate-option {
    text-align: center;
    margin-top: 50px;
}
.donate-option p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
    color: #B3B3B3;
}
.donate-option > .divider {
    height: 0px;
    border: 1px solid #DADADA;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
/* Donation area start */

/* Service area style start */
.section-top {
    width: 660px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.section-top p,
.section-top .section-title {
    text-align: center;
}

.service-item {
    padding: 50px 20px;
    text-align: left;
    border-radius: 5px;
}
.item-1 {
    background: rgba(79, 157, 166, 0.10);
}
.item-2 {
    background: rgba(255, 89, 89, 0.10);
}
.item-3 {
    background: #FFF4D6;
}
.service-item img {
    width: 120px;
    height: 120px;
}
.service-item h3 {
    font-size: 24px;
    color: #1F2044;
    font-weight: 700;
    padding: 10px 0;
}
/* Service area style end  */

/* contribute area start */
.contribute-area > .content-area {
    text-align: left;
}
.contribute-area > .content-area > p {
    text-align: left;
}
/* contribute area end */

/* Newslatter area start */
.newslatter-area {
    padding-bottom: 130px;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF4D6;
    padding: 76px 0;
    width: 809px;
    margin: 0 auto;
    
}
.input-feild {
    height: 48px;
    padding: 10px 15px;
    background: #D9D9D9;
    border: transparent;
    outline: none;
    width: 275px;

}
.input-feild:focus {
    border: 1px solid #FF5959;
    outline: none;
}
.subscribe-btn {
    border-radius: 0px;
    margin: 0;
    padding: 14px 43px;
}
/* Newslatter area end */

/* Footer area style */
.footer-area {
    background: #0B0D17;
    padding: 35px 0px 45px 0px;
    text-align: center;
}
.footer-area h2 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-family: 500;
}
.footer-area>p {
    color: #D9DBE1;
    text-align: center;
    font-weight: 200;
    margin: 0;
}
.f-clr {
    color: #FF5959;
}
/* Footer area style End */